*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}




/* header */
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: black;
}

.inner_header{
    width: 800px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
    vertical-align: middle;
}

.logo_container h1{
    color: white;
    height: 100;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    height: 100%;
    float: right;
}

.navigation li{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation li:last-child{
    padding-right: 0;
}

.navigation li a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 16px;
}
/* header */




/* body */
body{
    background: rgb(238, 238, 238);
}

.login-page{
    height: auto;
    min-height: 100%;
    padding-bottom: 60px;
}

#margin_home{
    min-height: 600px;
}
#margin_login{
    min-height: 100px;
}
/* body */




/* footer */
.footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
}

.inner_footer{
    width: 600px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.inner_footer #grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 20px;
}

.inner_footer h1{
    font-size: 22px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer li{
    color: white;
}

#footer_position{
    position: relative;
    transform: translateV(0%);
    border-top: 1px solid #248efe;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #62679b;
}
/* footer */